.instructor-selection {
  padding: 30px;
  display: inline-flex;
  gap: 20px;
  align-items: center;
}

.instructor-selection select {
  width: 100px;
  height: 50px;
  align-items: center;
  padding: 6px 10px;
  border: 1px solid #ccc;
  background-color: rgba(0, 62, 148, 0.529);
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 2px 2px #7d7d7d80;
}
