.income-menu {
  padding-top: 2%;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rental-office-components ul {
  display: inline;
  align-items: flex-start;
  text-align: left;
}

.ski-resort-components ul {
    display: inline;
  align-items: flex-start;
  text-align: left;
}
