.topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  padding-bottom: 10px;

  background: rgba(255, 255, 255, 0.21);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 0.39);
}

.main-header {
  align-content: center;
  color: black;
}

.router-ul {
  list-style: none;
  display: inline-flex;
  gap: 100px;
  padding-bottom: 0px;
  margin: 0;
  padding: 0;
}

.router-ul button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  padding: 30px 20px;
  transition: 0.2s;
}

.router-ul button:hover {
  background-color: #96e5ff3d;
  color: #000000;
  border: none;
}

.router-ul button.active {
  font-weight: bold;
  background-color: #96e5ff74;
  outline: none;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      transform: translateY(5px);
}
